<%-include("header.ejs")%>
<%-include("modals.ejs")%>

<button><a href="/">Back</a></button>
<h1 style="text-align: center;">Blog with id <%= blog.id %></h1>


<div class="container">
    <div class="row">
          

                <hr>
                <div class="col card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title"><%= blog.name %></h5>
                    <p class="card-text"><%= blog.description %></p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateBlog"  onclick="setBlogData(`<%= JSON.stringify(blog) %>`)" >Update</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteBlog"  onclick="deleteBlog(`<%= blog.id %>`)" >Delete</button>
                  </div>
                </div>
             
        </div>
    </div>
</div>

<%-include("footer.ejs")%>