<%-include("header.ejs")%>
<%-include("modals.ejs")%>

<h1 style="text-align: center;">All Blogs</h1>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <button style="text-align: center;" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addNewBlog" >Add</button>
    </div>
  </div>
</div>
  <br>
<div class="container">
    <div class="row">
            <% for(var i=0; i < allBlogs.length; i++) { %>

                <hr>
                <div class="col card" style="width: 18rem;">
                    <div class="card-body">
                      <h1 class="card-title"><%= allBlogs[i].name %></h1>
                      <p class="card-text"><%= allBlogs[i].description %></p>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateBlog"  onclick="setBlogData(`<%= JSON.stringify(allBlogs[i]) %>`)" >Update</button>
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteBlog"  onclick="deleteBlog(`<%= allBlogs[i].id %>`)" >Delete</button>
                    </div>
                  </div>
                <% } %>
        </div>
    </div>
</div>

<%-include("footer.ejs")%>